body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: blueviolet;
    text-align: center;
}

.blockquote {
    font-style: italic;
}

.blockquote-footer {
    font-style: italic;
    color: black;
}

.ms-md-5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}

a {
    outline: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #67ff41;
  }
  
  a:visited {
    color: snow;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #5e19a2;
  }
  
  a:active {
    background: #3c0349;
    color: #cdfeaa;
  }

.container {
    display: flex;
    /*justify-content: space-between; */
    flex-wrap: wrap;
    height: max-content;
    padding: 20px;
    /* gap:20px; */
    background-color: rgb(192, 243, 104);

}

.block {
    padding: 0px;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center;
    border-radius: 0px; 
}

.blockcard {
    max-height: 400px;
}

.block-1 {
    flex-basis: 50%;
    /* 1/2 */
}

.block-2,
.block-3 {
    flex-basis: 25%;
    /* 1/4 */
}




.b_ {
    width: 94%;
    height: 100%;
    padding: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center;
}

.b1 {
    width: 97%;
    padding: 60px; 
}

.b2 {
    background-color: mediumblue;
}

.b3 {
    background-color: darkorange;
}




@media (max-width: 767px) {

    /* for mobile phones */
    .container {
        flex-direction: column; 
        gap: 20px;
        /* space between the blocks */
    }

    .block {
        flex: 0 0 100%;
        /* each block takes the whole space */

    }
}